# Ant
build
src/build-stamp.txt

# Maven
target

# Gradle
.gradle
src/main/resources/build-stamp.txt

# Eclipse
*.settings
/bin
/build
/dist

# IntelliJ IDEA
.idea/workspace.xml

# VSCode
.project

# macOS
.DS_Store

